.login_register,
.order-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Books page */

div.scroll-menu {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
}

.scroll-menu {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
}

.zoom-image {
    cursor: pointer;
    width: 160px;
    height: auto;
    transition: transform .2s;
}

.image-details {
    width: 230px;
    height: auto;
}

.zoom-image:hover {
    transform: scale(1.05);
    border: #B22222 ridge 1px;
}

/* The color used throughout the app. */
.application-color {
    color: #B22222;
}

.btn-outline-danger {
    border-style: none;
    color: gray;
    width: 95px;
}

.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:visited{
    background-color: #B22222 !important;
    border-color: #B22222!important;
}

/* The color used for the main background panel. */
.main-background {
    background-color: white;
}

.display-5 {
    color: #696969;
}
