{% extends "store/base.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid" style="background-color: #B22222; color: white">
        <div class="container" style="display: inline-flex">
            <h1 class="display-4">About Online Book Store</h1> <img
                src="https://media.istockphoto.com/photos/stack-of-colorful-hardback-books-open-book-on-blue-background-picture-id506432952?k=6&m=506432952&s=170667a&w=0&h=BXwQ2ggyC-oG-Ivxv9dfyREFxCFz4n7YDlkZfYHs3xU=" class="img-thumbnail mx-auto" alt=""
                style="width: 100px">
        </div>
        <div class="jumbotron jumbotron-fluid" style="background-color: white; color: dimgrey">
            <div class="container">
                <p style="font-family:Cli; font-size: large; ">
                <ul>
                    <li>Online Book store is an online web application where
                        the customer can purchase books online.
                    </li>
                    <br>
                    <li> Through a web browser the customers can search for
                        a book by its title or author, later can add to the shopping cart and finally purchase the
                        books.
{#                        By which user can put details of books and user can search it.#}
                    </li>
                    <br>
                    <li>The Online Book Store application enables vendor to setup online book store, customers to
                        browse.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}