{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <title>Online Book Store</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?{% now "U" %}'"/>
</head>

<body class="main-background">
<nav class="navbar navbar-expand-md navbar-light bg-light border">
    <a style="color: grey; font-size: x-large;" class="navbar-brand" href="{% url 'store:index' %}">
        O<span class="application-color">nline</span>
        B<span class="application-color">ook</span>
        S<span class="application-color">tore</span></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

        </ul>

        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item mx-1">
                    <a class="btn btn-outline-danger" href="{% url 'store:index' %}">Home</a>
                </li>
                 <li class="nav-item mx-1">
                    <a class="btn btn-outline-danger" href="{% url 'store:books' %}">Products</a>
                </li>
                 <li class="nav-item mx-1">
                    <a class="btn btn-outline-danger" href="#">Cart</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="btn btn-outline-danger" href="#">About me</a>
                </li>


{#                <div style="width: 1px; height: 19px; margin-top: 12px; margin-right: 11px; margin-left: 3px;#}
{#                background-color: grey;"></div>#}

                <li class="nav-item">
                    <span class="navbar-text">Hello, {{ user.username }}.</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Log in</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<main role="main" class="container">
    <div class="container">
        <div class="justify-content-center">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</main>
</body>
</html>

{##}
{#<p>#}
{#    <a href="{% url 'store:index' %}">Book store</a>#}
{#    {% if user.is_authenticated %}#}
{#        Hello, {{ user.username }}.#}
{#        <a href="{% url 'users:logout' %}">Log out</a>#}
{#    {% else %}#}
{#        <a href="{% url 'users:register' %}">Register</a> -#}
{#        <a href="{% url 'users:login' %}">Log in</a>#}
{#    {% endif %}#}
{#</p>#}
{#{% block content %}{% endblock content %}#}
