{% extends "store/base.html" %}

{% block content %}
    {% for category in categories %}
        <div class="row text-center justify-content-center">
            <h1 class="display-5 mr-auto mx-auto" style="color: #B22222">{{ category.name }}</h1>
            <div class="scroll-menu container-fluid">

                {% for book in books %}
                    {% if category in book.category.all %}
                        <a href="{% url 'store:details' book.id %}">
                            <img class="zoom-image m-2" src="{{ book.url }}"
                                 alt="Card image cap" title={{ book.title }}>
                        </a>
                    {% endif %}
                {% empty %}
                    <p>No books to display for this category...</p>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <p>No categories...</p>
    {% endfor %}
{% endblock content %}